#header-auto .header__logo {

    margin-top: 10px;
    text-align: center;
}

#header-auto .header__logo a {
    display: inline-block;
}

#header-auto .header__menu {
    width: 100%;
    text-decoration: none;
    margin-top: 14px;
}
#header-auto .header__menu ul li .header__menu__dropdown {
    position: absolute;
    left: 0;
    top: 50px;
    background: whitesmoke;
    width: 180px;
    z-index: 9;
    padding: 5px 0;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    opacity: 0;
    visibility: hidden;
    color: black;
}

#header-auto .header__menu ul li .header__menu__dropdown li {
    margin-right: 0;
    display: block;
}

#header-auto .header__menu ul li .header__menu__dropdown li:hover>a {
    color: red;
}

#header-auto .header__menu ul li .header__menu__dropdown li a {
    text-transform: capitalize;
    color: black;
    font-weight: 400;
    padding: 5px 15px;
}


#header-auto .header__menu ul li:hover .header__menu__dropdown {
    top: 30px;
    opacity: 1;
    visibility: visible;
}

#header-auto .header__menu ul li:hover>a {
    color: white;
}

#header-auto .header__menu ul li:last-child {
    margin-right: 0;
}

#header-auto .header__menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    position: relative;
}

#header-auto .header__menu ul li a {
    font-size: 14px;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    padding: 5px 0;
    display: block;
    text-decoration: none;
}

#header-auto .header__cart {
    text-align: center;
    display: flex;
}

#header-auto .header__cart ul {
    display: inline-block;
    margin-right: 20px;
}

#header-auto .header__cart ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

#header-auto .header__cart ul li:last-child {
    margin-right: 0;
}

#header-auto .header__cart ul li a {
    position: relative;
}

#header-auto .header__cart ul li a i {
    font-size: 18px;
    color: #1c1c1c;
}

#header-auto .header__cart ul li a span {
    height: 13px;
    width: 13px;
    background: #7fad39;
    font-size: 10px;
    color: #c10c0c;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -12px;
}

#header-auto .header__cart .header__cart__price {
    font-size: 14px;
    color: #6f6f6f;
    display: inline-block;
}

#header-auto .header__cart .header__cart__price span {
    color: #252525;
    font-weight: 700;
}

#header-auto .humberger__menu__wrapper {
    display: none;
}

#header-auto .humberger__open {
    display: none;
}
#header-auto .button-cart{
    border: 1px solid #090808;
    border-radius: 4px;
    color: #090808;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
    padding: 5px 8px;
    width: 100px;
    position: relative;
    background: #f6f4ff;
}
#header-auto .button-font{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.login-auto{
    width: 45px;
    font-size: 22px;
    background: black;
    text-align: center;
    color: white;
    border-radius: 6px;
    margin-right: 7px;
}
.input-search{
    display: flex;
    width:50%;

}