
#login-auto body {
  font-family: "Poppins-Regular";
  color: #333;
  font-size: 13px;
  margin: 0; }

#login-auto input, textarea, select, button {
  font-family: "Poppins-Regular";
  color: #333;
  font-size: 13px; }

#login-auto p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

#login-auto img {
  max-width: 100%; }

#login-auto ul {
  padding-left: 0;
  margin-bottom: 0; }

#login-auto a:hover {
  text-decoration: none; }

#login-auto :focus {
  outline: none; }

#login-auto .wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }

#login-auto .inner {
  width: 50%;
  background:none;
  margin-left: 25%;
  margin-top: 22px;
  border: black;

}

#login-auto .inner form {
  width: 50%;
  margin: auto;
  text-align: center;
}
#login-auto .inner h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Poppins-SemiBold";
  text-align: center;
  margin-bottom: 28px; }

#login-auto .form-group {
  display: flex; }
#login-auto .form-group input {
  width: 50%; }
#login-auto .form-group input:first-child {
  margin-right: 25px; }

#login-auto .form-wrapper {
  position: relative; }
#login-auto .form-wrapper i {
  position: absolute;
  bottom: 9px;
  right: 0; }

#login-auto .form-control {
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px; }
#login-auto .form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins-Regular"; }
#login-auto .form-control::-moz-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins-Regular"; }
#login-auto .form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins-Regular"; }
#login-auto .form-control:-moz-placeholder {
  font-size: 13px;
  color: #333;
  font-family: "Poppins-Regular"; }

#login-auto select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px; }
#login-auto select option[value=""][disabled] {
  display: none; }

#login-auto button {
  border: none;
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #333;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
#login-auto button i {
  margin-left: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
#login-auto button:hover i, button:focus i, button:active i {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }


@media (max-width: 1199px) {
  #login-auto .wrapper {
    background-position: right center; } }
@media (max-width: 991px) {
  #login-auto .inner form {
    padding-top: 115px;
    padding-left: 30px;
    padding-right: 30px; } }

@media (max-width: 767px) {
  #login-auto .inner {
    display: block; }
  #login-auto .inner .image-holder {
    width: 100%; }
  #login-auto .inner form {
    width: 100%;
    padding: 40px 0 30px; }
  #login-auto button {
    margin-top: 60px; } }

.wrapper {
  display: flex;
  align-items: center;
}