
.product-item {
  transition: .5s;
}

.product-action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.product-action a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

.product-item:hover {
  box-shadow: 0 0 10px #DDDDDD;
}

.product-item:hover .product-action {
  background: rgba(255, 255, 255, 0.9);
}

.product-item:hover .product-action a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: .3s 0s;
}

.product-item .product-img img {
  transition: .5s;
}

.product-item:hover .product-img img {
  transform: scale(1.2);
}

.product-item .btn:hover {
  color: red !important;
}

.title-product{
  color: red;
  font-size: 24px;
}

.title-link{
  text-decoration: none;
  color: black;
}
.product-item .title-link:hover {
  color: red !important;
}

.section-title-all {
  margin-bottom: 50px;
  text-align: center;
  color: red;
  font-size: 24px;
  text-transform: uppercase!important;
}

.featured {
  padding-top: 20px;
}

.featured__controls {
  text-align: center;
  margin-bottom: 50px;
}

.featured__controls ul li {
  list-style: none;
  font-size: 18px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

.featured__controls ul li.active:after {
  opacity: 1;
}

.featured__controls ul li:after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #7fad39;
  opacity: 0;
}

.featured__controls ul li:last-child {
  margin-right: 0;
}
